<!DOCTYPE html>
<html>
  <head>
    <title>MindToMind</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <h5 class="navbar-brand">УмуРазуму</h5>

        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <span class="p-2 text-dark"><%= link_to "Главная страница", home_path %></span>
          </li>
          <li class="nav-item">
            <span class="p-2 text-dark"><%= link_to "Про нас", about_path %></span>
          </li>
          <li class="nav-item">
            <span class="p-2 text-dark"><%= link_to "Добавить статью", new_post_path %></span>
          </li>
        </ul>

      <nav class="my-2 my-md-0 mr-md-3">
        <span class="btn btn-outline-primary"><%= link_to "Зарегистрироваться" %></span>
        <span class="btn btn-outline-primary"><%= link_to "Войти" %></span>
      </nav>
    </nav>
  </header>







    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
